* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9fa;
  overflow-x: hidden;
}

.menu-container {
  padding-right: 16px;
  display: inline-block;
  cursor: pointer;
}

.menu_desk {
  display: none;
}

.line1,
.line2,
.line3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.header {
  height: 74px;
  background-image: url(img/image_geometry_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

.about {
  color: #1a2236;
}

.info-section {
  padding: 30px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}

.collab-btn {
  margin-top: 20px;
  background: black;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  width: 100%;
  border: none;
}

.collab-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.bgimage {
  background-image: url(/img/1st\ vec\ image.svg);
  height: 300px;
  background-size: contain;
  bottom: 0;
  background-repeat: no-repeat;
}

.project h2 {
  padding: 0 0 30px 16px;
}

.work_cards {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
}

.work_image {
  width: 100%;
  margin-top: -2px;
}

.workdetails {
  background-color: #1a2236;
  height: 156px;
  margin: 0;
  padding: 5px 0 16px 20px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.work_title {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.language_used {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 300;
}

.language_used li {
  color: #1a2236;
  background: #98dede;
  padding: 7px 10px;
  width: auto;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

.seeproject {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 57%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 9px 20px;
  border: 1px solid white;
  margin-top: 10px;
}

.cv-btn {
  margin-top: 20px;
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 12px 30px;
  width: 100%;
  border: none;
}

.cv-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.cv-btn span {
  margin-left: 20px;
}

.boxinfo {
  height: 200px;
  color: white;
  padding: 70px;
  margin-top: 40px;
}

.boxinfo h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.boxinfo li {
  margin-left: -22px;
  font-weight: 600;
}

#languages {
  background: #1c528a;
  background-image: url(img/hash.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#frameworks {
  background: #e2505c;
  background-image: url(img/groupbox.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#skills {
  background: #febf52;
  background-image: url(img/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.seeproject:hover {
  color: white;
  background: #1a2236;
}

.lang {
  float: left;
  margin: 5px;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-size: contain;
  width: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.footer-list {
  list-style: none;
  margin-left: -40px;
}

.footer-head {
  height: 74px;
  background-image: url(img/image_geometry_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.formbody {
  margin-top: 50px;
  padding: 0 16px 30px 16px;
}

label {
  color: #7d7c84;
  padding: 5px 20px 10px 12px;
  font-size: 10px;
}

input,
label {
  resize: none;
  width: 90vw;
  display: block;
  border: none;
}

textarea {
  padding: 15px 0 30px 16px;
  resize: none;
  height: 112px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

input,
textarea:focus {
  outline: none;
  color: #1a2236;
  font-size: 14px;
}

.inputfield {
  font-family: 'Poppins', sans-serif;
  height: 52px;
  overflow: hidden;
  width: 100%;
}

.footer-list .inputfield {
  background: #fff;
  margin: 8px 0;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 100%;
}

.formbody .about {
  margin: 20px 0 32px 0;
}

.footer-sec {
  background: #1a2236;
  color: white;
  padding: 32px 0;
}

.footer-sec span {
  color: #92dcdc;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.social_icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 10px 30px 0 0;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }

  body {
    background: white;
  }

  .header {
    background: none;
    display: flex;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid #dddfe6;
  }

  .menu_desk {
    display: flex;
  }

  .bgimage {
    display: none;
  }

  #hello {
    margin-left: 160px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .infoimg {
    height: 830px;
    width: 50%;
    background-image: url(img/image-geometry_1\ large.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    padding-right: 0;
  }

  .desktop_about {
    background-image: url(img/image_dots.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -10px;
  }

  .menu_desk ul {
    display: flex;
    list-style: none;
  }

  .menu_desk li {
    margin: 20px 50px;
    font-size: 16px;
  }

  .footer-list ul {
    align-items: center;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-list li {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .social_icons ul li {
    margin-right: 50px;
  }

  .menu_desk li:hover {
    border-bottom: 2px solid black;
    text-shadow: #1a2236;
    cursor: pointer;
  }

  .title {
    font-size: 6rem;
    line-height: 1;
    margin-top: 10rem;
  }

  .about {
    margin: 60px 0;
    font-size: 14px;
    width: 70%;
  }

  .collab-btn,
  .cv-btn {
    align-items: center;
    width: 254px;
    height: 70px;
  }

  /* projects section  */

  .firstproject {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
  }

  .firstproject .work_cards {
    width: 70%;
    background-image: url(img/image_dots.svg);
    background-position: top left;
    margin: auto;
    background-repeat: no-repeat;
  }

  .firstproject .workdetails {
    height: 250px;
    width: 81.2%;
    margin-top: -250px;
    margin-left: auto;
  }

  .workdetails button {
    width: 12vw;
    font-size: 14px;
    background: white;
    color: #1a2236;
  }

  .firstproject .work_image {
    margin-left: auto;
    width: 83%;
  }

  .firstproject_name {
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-left: -11rem;
    width: 40%;
    height: auto;
    margin-top: -0px;
  }

  .firstproject h2 {
    transform: rotate(-90deg);
    margin-top: 20px;
  }

  .sec_third {
    width: 98vw;
    display: flex;
    flex-direction: row;
  }

  #card2 {
    height: 350px;
    width: 65%;
    background-image: url(img/image-geometry_circle\ and\ dot.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  #card2 img {
    margin-top: 80px;
    width: 47.5%;
  }

  #card3 {
    margin-left: auto;
    width: 35%;
  }

  #card3 img {
    margin-left: auto;
    width: 80%;
  }

  #card3 .workdetails {
    width: 98.9%;
    height: 195px;
    margin-top: -250px;
  }

  .four_five {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    height: 55.2vh;
  }

  #card4 {
    margin-top: -20px;
    width: 50%;
    background-image: url(img/image-geometry_merge.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  #card4 img {
    width: 84.9%;
    margin-top: -74px;
    margin-left: auto;
  }

  #card5 {
    width: 69%;
  }

  #card5 img {
    height: auto;
  }

  .lastcard {
    width: 87.5vw;
    display: flex;
  }

  #card2 .workdetails {
    display: none;
  }

  #card4 .workdetails {
    display: none;
  }

  #card5 .workdetails {
    display: none;
  }

  #card6 .workdetails {
    display: none;
  }

  .lastbg {
    width: 95%;
    background:
      url(img/image-geometry_5.svg) top left no-repeat,
      url(img/image-geometry_yellow.svg) top right no-repeat;
  }

  #card6 {
    width: 50%;
  }

  .midimage {
    display: grid;
    height: 47vh;
    background-size: 100% 100%;
  }

  #about-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 210px;
    margin-bottom: 150px;
  }

  .about-me {
    width: 40%;
  }

  .boxinfo {
    margin: 0;
  }

  .wrapbox {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .boximage {
    background-image: url(img/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .footer-sec {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social_icons {
    margin: 0 160px;
    width: 30%;
    display: flex;
    justify-content: space-around;
  }

  .footer-head {
    display: none;
  }

  .formbody .cv-btn {
    align-self: center;
    text-align: center;
  }

  .forbackground {
    background: url(img/image-geometry_shapes1.svg) left top no-repeat, url(img/image-geometry_shapes2.svg) right bottom no-repeat;
    background-color: #f9f9fa;
  }

  .forbackground .formbody {
    margin: auto;
    text-align: justify;
    width: 35vw;
  }

  .name_and_email {
    width: 35vw;
    gap: 1rem;
    display: flex;
  }

  .name_and_email .inputfield {
    height: auto;
    border: none;
    background: transparent;
    margin-bottom: 20px;
  }

  .inputfield label {
    padding: 0;
  }

  #mail {
    width: 19.3%;
  }

  #name {
    width: 240px;
  }

  input {
    padding: 20px 0;
    width: 281px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid rgb(210, 212, 212);
    text-indent: 16px;
    font-family: 'Poppins', sans-serif;
  }

  .project {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
