* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.head {
  flex-direction: row-reverse;
  align-items: center;
  background-image: url(img/image_geometry_1.png);
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
}

.menu-bar {
  padding-right: 16px;
  display: inline-block;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 35px;
  height: 3px;
  background-color: #1a2236;
  margin: 6px 0;
}

.name {
  width: 220px;
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

.info {
  color: #1a2236;
  margin-top: 20px;
}

.main-section {
  padding: 30px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 20px;
  background: black;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  width: 100%;
  border: none;
}

.btn:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid black;
}

.vec-image {
  background-image: url(img/Thur.png);
  height: 320px;
  background-size: contain;
  bottom: 0;
  background-repeat: no-repeat;
}
